<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAGE</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="http://127.0.0.1:8000/"><h1 class="header__centered">TAGE</h1></a>
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos..."  id="search-bar-text">
                <button id="search-bar-button">Buscar</button>
            </div>
            <div class="header-buttons">
            <div class="user">
                <img src="icons/user-icon.svg" alt="Icono de usuario" id="imgUser">
                <span><a href="http://127.0.0.1:8000/sesion" id="Iniciar">Iniciar sesión</a></span>
            </div>
            <div class="cart">
                <span id="saldo">$0.00</span>
            </div>
            </div>
        </header>
        <div class="main">
            <!-- Barra de Búsqueda -->


            <!-- Navegación de Categorías -->
            <nav>
                <ul class="menu-horizontal">
                    <li>
                        <a href="#">Categorías</a>
                        <ul class="menu-vertical">
                            <li><a href="http://127.0.0.1:8000/electronica">Electronica</a></li>
                            <li><a href="http://127.0.0.1:8000/muebles">Muebles</a></li>
                            <li><a href="http://127.0.0.1:8000/autos">Autos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Contactos</a>
                        <ul class="menu-vertical">
                            <li><a href="http://127.0.0.1:8000/alumnos">Alumnos</a></li>
                            <li><a href="https://www.cecyt8.ipn.mx/">Escuela</a></li>
                        </ul>
                    </li>
                    <li><a href="http://127.0.0.1:8000/portada">Portada</a></li>
                    <li><a href="http://127.0.0.1:8000/vender">Vender</a></li>
                </ul>
            </nav>

            
               <center>
                <h2>CONTACTOS:</h2>
                 
               </center>
               <br>
               <br>
               <br>

          <table border='6' bordercolor="Slateblue">
       <tbody>
                 <tr>
                        <th>Isisdro Gomez Octavio Cesar
                                  <section>
                                              <center>
                                                          <img src="http://127.0.0.1:8000/img/octavio.jpg" alt="Cambiando el tamaño" width="200" height"200">
              
                                              </center>
                                  </section>
                        </th>
                        <th>Euroza Rodriguez Diego Rodrigo
                                  <section>
                                              <center>
                                                          <img src="http://127.0.0.1:8000/img/euroza.jpg" alt="Cambiando el tamaño" width="200" height"200">
              
                                              </center>
                                  </section>
                        </th>
                        <th>Cabrera Brito Joshua Rodrigo
                                  <section>
                                              <center>
                                                          <img src="http://127.0.0.1:8000/img/joshua.jpg" alt="Cambiando el tamaño" width="200" height"200">
              
                                              </center>
                                  </section>
                        </th>
                        <th>Garcia Garcia Oscar
                            <section>
                                        <center>
                                                    <img src="http://127.0.0.1:8000/img/minimini.jpg" alt="Cambiando el tamaño" width="200" height"200">
        
                                        </center>
                            </section>
                  </th>
                 </tr>
                 <tr>
                        <td>Correo: <a href="mailto:octaviocesarisidro@gmail.com">octaviocesarisidro@gmail.com</a><br>
                           
                        </td>
                        <td>Correo: <a href="mailto:drer1im1@gmail.com">drer1im1@gmail.com</a><br>
                          
                        </td>
                        <td>Correo: <a href="mailto:quickslow.rj@gmail.com">quickslow.rj@gmail.com</a><br>
                        </td>
                        <td>Correo: <a href="mailto:oscarmiguelgarciag@gmail.com">oscarmiguelgarciag@gmail.com</a><br>
                        </td>
                 </tr>
                 <tr>
                        <td>Número:<a href="tel:+525581007133"> +52 55 8100 7133</a></td>
                        <td>Número:<a href="tel:+5215513064744">+52 1 55 1306 4744</a></td>
                        <td>Número:<a href="tel:+5215591963624">+52 1 55 9196 3624</a></td>
                        <td>Número:<a href="tel:+5215564133468">+52 1 55 6413 3468</a></td>
                 </tr>
               </tbody>
          </table>

            


        </div>
        <!-- Pie de Página -->
        <footer>
            <p>&copy; 2025 TAGE. Todos los derechos reservados.</p>
        </footer>
        <script type="module" src="js/constantes.js"></script>
        <script type="module" src="js/products.js"></script>
        <script type="module" src="js/dataUser.js"></script>
        <script type="module" src="js/buscador.js"></script>
    </div>
</body>
</html>