<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAGE</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="http://127.0.0.1:8000/"><h1 class="header__centered">TAGE</h1></a>
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos..."  id="search-bar-text">
                <button id="search-bar-button">Buscar</button>
            </div>
            <div class="header-buttons">
            <div class="user">
                <img src="icons/user-icon.svg" alt="Icono de usuario" id="imgUser">
                <span><a href="http://127.0.0.1:8000/sesion" id="Iniciar">Iniciar sesión</a></span>
            </div>
            <div class="cart">
                <span id="saldo">$0.00</span>
            </div>
            </div>
        </header>
        <div class="main">
            <!-- Barra de Búsqueda -->


            <!-- Navegación de Categorías -->
            <nav>
                <ul class="menu-horizontal">
                    <li>
                        <a href="#">Categorías</a>
                        <ul class="menu-vertical">
                            <li><a href="curso-html.html">Electronica</a></li>
                            <li><a href="#">Muebles</a></li>
                            <li><a href="#">Autos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Contactos</a>
                        <ul class="menu-vertical">
                            <li><a href="http://127.0.0.1:8000/alumnos">Alumnos</a></li>
                            <li><a href="https://www.cecyt8.ipn.mx/">Escuela</a></li>
                        </ul>
                    </li>
                    <li><a href="http://127.0.0.1:8000/portada">Portada</a></li>
                    <li><a href="http://127.0.0.1:8000/vender">Vender</a></li>
                </ul>
            </nav>

            
               <center>
                <h2>CONTACTOS:</h2>
                 
               </center>
               <br>
               <br>
               <br>

          <table border='6' bordercolor="Slateblue">
       <tbody>
                 <tr>
                        <th>Isisdro Gomez Octavio Cesar
                                  <section>
                                              <center>
                                                          <img src="http://127.0.0.1:8000/img/octavio.jpg" alt="Cambiando el tamaño" width="200" height"200">
              
                                              </center>
                                  </section>
                        </th>
                        <th>Euroza Rodriguez Diego Rodrigo
                                  <section>
                                              <center>
                                                          <img src="http://127.0.0.1:8000/img/euroza.jpg" alt="Cambiando el tamaño" width="200" height"200">
              
                                              </center>
                                  </section>
                        </th>
                        <th>Cabrera Brito Joshua Rodrigo
                                  <section>
                                              <center>
                                                          <img src="http://127.0.0.1:8000/img/joshua.jpg" alt="Cambiando el tamaño" width="200" height"200">
              
                                              </center>
                                  </section>
                        </th>
                        <th>Garcia Garcia Oscar
                            <section>
                                        <center>
                                                    <img src="http://127.0.0.1:8000/img/minimini.jpg" alt="Cambiando el tamaño" width="200" height"200">
        
                                        </center>
                            </section>
                  </th>
                 </tr>
                 <tr>
                        <td>Es un navegador web gratuito y de código propietario <br>
                            desarrollado por Google que se puede utilizar en     <br>
                            computadoras con Windows, Mac, Linux, Android y iOS.
                        </td>
                        <td>Es un navegador web diseñado para jugadores de videojuegos, <br>
                            desarrollado por la empresa noruega Opera Software.         <br>
                            Opera GX es una versión especial del navegador Opera,       <br>
                            con características únicas que ayudan a aprovechar al máximo<br> 
                            la experiencia de juego y de búsqueda.
                        </td>
                        <td>Brave es un navegador web de código abierto basado en Chromium, <br>
                            creado por la compañía Brave Software en el año 2016 
                        </td>
                        <td>Brave es un navegador web de código abierto basado en Chromium, <br>
                            creado por la compañía Brave Software en el año 2016 
                        </td>
                 </tr>
                 <tr>
                        <td><a href="https://www.google.com/intl/es_us/chrome/">Ir a Chrome</a></td>
                        <td><a href="https://www.opera.com/es/gx/gx-browser?gad_source=1&utm_id=Cj0KCQjwmt24BhDPARIsAJFYKk2EQunGB9KdGSPpoW7FPtxCajNfKlTXThh7yR12Ss21z1fT0kQtCRIaAmOMEALw_wcB&utm_medium=pa&utm_source=google&utm_campaign=OGX_MX_Search_ES_T1_V2&utm_content=642103255151&gclid=Cj0KCQjwmt24BhDPARIsAJFYKk2EQunGB9KdGSPpoW7FPtxCajNfKlTXThh7yR12Ss21z1fT0kQtCRIaAmOMEALw_wcB">Ir a Opera GX</a></td>
                        <td><a href="https://brave.com/es/download/">Ir a Brave</a></td>
                        <td><a href="https://brave.com/es/download/">Ir a Brave</a></td>
                 </tr>
               </tbody>
          </table>

            


        </div>
        <!-- Pie de Página -->
        <footer>
            <p>&copy; 2025 TAGE. Todos los derechos reservados.</p>
        </footer>
        <script type="module" src="js/constantes.js"></script>
        <script type="module" src="js/products.js"></script>
        <script type="module" src="js/dataUser.js"></script>
        <script type="module" src="js/buscador.js"></script>
    </div>
</body>
</html>