<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAGE</title>
    <link rel="stylesheet" href="css/autstyle.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="http://127.0.0.1:8000/"><h1 class="header__centered">TAGE</h1></a>
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos..."  id="search-bar-text">
                <button id="search-bar-button">Buscar</button>
            </div>
            <div class="header-buttons">
            <div class="user">
                <img src="icons/user-icon.svg" alt="Icono de usuario" id="imgUser">
                <span><a href="http://127.0.0.1:8000/sesion" id="Iniciar">Iniciar sesión</a></span>
            </div>
            <div class="cart">
                <span id="saldo">$0.00</span>
            </div>
            </div>
        </header>
        <div class="main">
            <!-- Barra de Búsqueda -->


            <!-- Navegación de Categorías -->
            <nav>
                <ul class="menu-horizontal">
                    <li>
                        <a href="#">Categorías</a>
                        <ul class="menu-vertical">
                            <li><a href="http://127.0.0.1:8000/electronica">Electronica</a></li>
                            <li><a href="http://127.0.0.1:8000/muebles">Muebles</a></li>
                            <li><a href="http://127.0.0.1:8000/autos">Autos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Contactos</a>
                        <ul class="menu-vertical">
                            <li><a href="http://127.0.0.1:8000/alumnos">Alumnos</a></li>
                            <li><a href="https://www.cecyt8.ipn.mx/">Escuela</a></li>
                        </ul>
                    </li>
                    <li><a href="http://127.0.0.1:8000/portada">Portada</a></li>
                    <li><a href="http://127.0.0.1:8000/vender">Vender</a></li>
                </ul>
            </nav>

            <div class="product-container">
                <div class="image-container">
                    <img src="image.png" alt="Producto">
                </div>
                <div class="details-container">
                    <h1>tumama</h1>
                    <div class="price">$200.00</div>
                    <div class="description">Descripción: xdddddddd</div>
                    <div class="stock">Stock: 1</div>
                    <div class="vendor">Vendedor: Paco</div>
                    <div class="actions">
                        <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Pie de Página -->
        <footer>
            <p>&copy; 2025 TAGE. Todos los derechos reservados.</p>
        </footer>
        <script type="module" src="js/constantes.js"></script>
        <script type="module" src="js/products.js"></script>
        <script type="module" src="js/dataUser.js"></script>
        <script type="module" src="js/buscador.js"></script>
    </div>
</body>
</html>