<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda en Línea</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="http://127.0.0.1:8000/"><h1 class="header__centered">Tienda en línea</h1></a>
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos...">
                <button>Buscar</button>
            </div>
            <div class="header-buttons">
            <div class="user">
                <img src="icons/user-icon.svg" alt="Icono de usuario">
                <span><a href="">Iniciar sesión</a></span>
            </div>
            <div class="cart">
                <object data="icons/shopping-cart_icon.svg" type="image/svg+xml" width="40px" height="40px" id="icon"></object>
                <span>$0.00</span>
            </div>
            </div>
        </header>
        <div class="main">
            <!-- Barra de Búsqueda -->


            <!-- Navegación de Categorías -->
            <nav>
                <ul class="menu-horizontal">
                    <li>
                        <a href="#">Categorías</a>
                        <ul class="menu-vertical">
                            <li><a href="curso-html.html">Electronica</a></li>
                            <li><a href="#">Muebles</a></li>
                            <li><a href="#">Autos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Inscripción</a>
                        <ul class="menu-vertical">
                            <li><a href="#">Anual</a></li>
                            <li><a href="#">Mensual</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Contacto</a></li>
        
                </ul>
            </nav>

            <div class="category">
                <h2>Categorías Populares</h2>
            </div>

            <div class="products">
                <!-- Aquí van los elementos -->
            </div>
        </div>
        <!-- Pie de Página -->
        <footer>
            <p>&copy; 2025 Tienda en Línea. Todos los derechos reservados.</p>
        </footer>
        <script src="js/products.js"></script>
    </div>
</body>
</html>
