<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAGE</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="http://127.0.0.1:8000/"><h1 class="header__centered">TAGE</h1></a>
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos..."  id="search-bar-text">
                <button id="search-bar-button">Buscar</button>
            </div>
            <div class="header-buttons">
            <div class="user">
                <img src="icons/user-icon.svg" alt="Icono de usuario" id="imgUser">
                <span><a href="http://127.0.0.1:8000/sesion" id="Iniciar">Iniciar sesión</a></span>
            </div>
            <div class="cart">
                <span id="saldo">$0.00</span>
            </div>
            </div>
        </header>
        <div class="main">
            <!-- Barra de Búsqueda -->


            <!-- Navegación de Categorías -->
            <nav>
                <ul class="menu-horizontal">
                    <li>
                        <a href="#">Categorías</a>
                        <ul class="menu-vertical">
                            <li><a href="curso-html.html">Electronica</a></li>
                            <li><a href="#">Muebles</a></li>
                            <li><a href="#">Autos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Contactos</a>
                        <ul class="menu-vertical">
                            <li><a href="#">Anual</a></li>
                            <li><a href="#">Mensual</a></li>
                        </ul>
                    </li>
                    <li><a href="http://127.0.0.1:8000/portada">Portada</a></li>

                    <li><a href="http://127.0.0.1:8000/vender">Vender</a></li>
                </ul>
            </nav>

            
            <title>Animación sin CSS</title>
            <body>
            <marquee behavior="scroll" direction="right">Título Animado</marquee>
            </body>
                
            <body>

                <!-- Encabezado con los logos -->
                <table width="100%">
                  <tr>
                    <td align="left">
                      <img src="https://www.ipn.mx/assets/files/main/img/logo-ipn.png" alt="Logo IPN" width="100">
                    </td>
                    <td align="center">
                      <h1>Centro de Estudios Científicos y Tecnológicos No. 8</h1>
                      <h2>"Narciso Bassols"</h2>
                    </td>
                    <td align="right">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Escudo_CECyT.svg/1200px-Escudo_CECyT.svg.png" alt="Logo CECyT" width="100">
                    </td>
                  </tr>
                </table>
              
                <!-- Bienvenida -->
                <h3 style="text-align: center;">Bienvenidos</h3>
                <p style="text-align: center;">
                  El CECyT No. 8 del Instituto Politécnico Nacional es una institución <br>
                  dedicada a la formación de estudiantes en educación media superior   <br>
                  con un enfoque científico y tecnológico.                             <br>
                </p>
              
                <!-- Oferta Educativa -->
                <br>
                <br>
                <br>
                <br>
                <h3 style="text-align: left;">Integrantes:</h3>
                <ul>
                  <li>-Isidro Gomez Octavio Cesar</li>
                  <li>-Euroza Rodriguez Diego Rodrigo</li>
                  <li>-Cabrera Brito Joshua Rodrigo</li>
                  <li>-Garcia Garcia Oscar</li>
                </ul>
              
                <!-- Contacto -->
                
                <br>
                <br>
                <h3 style="text-align: center;">Contacto</h3>
                <p style="text-align: center;">
                  Dirección: Av. Wilfrido Massieu S/N, Lindavista, CDMX <br>
                  Teléfono: (55) 1234 5678 <br>
                  Correo: contacto@cecyt8.ipn.mx
                </p>
            
        </div>
        <!-- Pie de Página -->
        <footer>
            <p>&copy; 2025 TAGE. Todos los derechos reservados.</p>
        </footer>
        <script type="module" src="js/constantes.js"></script>
        <script type="module" src="js/products.js"></script>
        <script type="module" src="js/dataUser.js"></script>
        <script type="module" src="js/buscador.js"></script>
    </div>
</body>
</html>