<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio de sesion</title>
    <link rel="stylesheet" href="css/registro.css">
</head>
<body>
        <form action="http://localhost:8000/sesion.php" class="form-register" method="post">
            <h4>Formulario inicio de sesion</h4>
            <input class="controls" type="text" name="nombres" id="nombres" placeholder="nombres">
            <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="apellidos">
            <input class="controls" type="text" name="correo" id="correo" placeholder="correo">
            <input class="controls" type="password" name="password" id="password" placeholder="contraseña">
            <input class="botons" type="submit" value="Iniciar sesion">
            <p><a href="http://localhost:8000/registro">¿No tengo cuenta?</a></p>
        </form>
</body>
</html>