<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAGE</title>
    <link rel="stylesheet" href="css/productos.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="http://127.0.0.1:8000/"><h1 class="header__centered">TAGE</h1></a>
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos..."  id="search-bar-text">
                <button id="search-bar-button">Buscar</button>
            </div>
            <div class="header-buttons">
            <div class="user">
                <img src="icons/user-icon.svg" alt="Icono de usuario" id="imgUser">
                <span><a href="http://127.0.0.1:8000/sesion" id="Iniciar">Iniciar sesión</a></span>
            </div>
            <div class="cart">
                <span id="saldo">$0.00</span>
            </div>
            </div>
        </header>
        <div class="main">
            <!-- Barra de Búsqueda -->


            <!-- Navegación de Categorías -->
            <nav>
                <ul class="menu-horizontal">
                    <li>
                        <a href="#">Categorías</a>
                        <ul class="menu-vertical">
                            <li><a href="http://127.0.0.1:8000/electronica">Electronica</a></li>
                            <li><a href="http://127.0.0.1:8000/muebles">Muebles</a></li>
                            <li><a href="http://127.0.0.1:8000/autos">Autos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Contactos</a>
                        <ul class="menu-vertical">
                            <li><a href="http://127.0.0.1:8000/alumnos">Alumnos</a></li>
                            <li><a href="https://www.cecyt8.ipn.mx/">Escuela</a></li>
                        </ul>
                    </li>
                    <li><a href="http://127.0.0.1:8000/portada">Portada</a></li>
                    <li><a href="http://127.0.0.1:8000/vender">Vender</a></li>
                </ul>
            </nav>

            <div class="main_content">
                <!-- Producto 1 -->
                <main>
                    <div class="container-img">
                        <img
                            src=""
                            alt="imagen-producto"
                            class="imagen-producto"
                        />
                    </div>
                    <div class="container-info-product">
                        <div class="container-price">
                            <span id="price"></span>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>

                        <div class="container-details-product">
                            <div class="form-group">
                                <div id="colour">
                                    YEYIAN Gabinete Gamer Lancer con Ventana, Midi-Tower, ATX, Micro ATX, Mini ITX, Panel Malla y Cristal Templado,
                                </div>
                            </div>
                        
                        </div>

                        <div class="container-add-cart">
                            <div class="container-quantity">
                                <input
                                    type="number"
                                    placeholder="1"
                                    value="1"
                                    min="1"
                                    class="input-quantity"
                                />
                                <div class="btn-increment-decrement">
                                    <i class="fa-solid fa-chevron-up" id="increment"></i>
                                    <i class="fa-solid fa-chevron-down" id="decrement"></i>
                                </div>
                            </div>
                            <button class="btn-add-to-cart" id="open">
                                Comprar
                            </button>
                        </div>

                        <div class="container-description">
                            <div class="title-description">
                                <h4>Descripción</h4>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div class="text-description">
                                <p id="description">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam iure provident atque voluptatibus reiciendis quae rerum, maxime placeat enim cupiditate voluptatum, temporibus quis iusto. Enim eum qui delectus deleniti similique? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint autem magni earum est dolorem saepe perferendis repellat ipsam laudantium cum assumenda quidem quam, vero similique? Iusto officiis quod blanditiis iste?
                                </p>
                            </div>
                        </div>


                        <div class="container-reviews">
                            <div class="title-reviews">
                                <h4>Stock:    <span id="stock">10</span></h4>
                            </div>
                            <div class="text-reviews hidden">
                                <p>-----------</p>
                            </div>
                        </div>

                        <div class="container-social">
                            <span>Vendedor:  <span id="Vendedor">Paco</span> <img src="" alt="image" id="product-user"></span>
  
                        </div>
                    </div>
                </main>

                <!-- Aquí puedes agregar más productos -->
            </div>
        </div>

        <!-- Pie de Página -->
        <footer>
            <p>&copy; 2025 Tienda en Línea. Todos los derechos reservados.</p>
        </footer>
        
    </div>
    <div id="modal_container" class="modal-container">
  <div class="modal">
    <h1>Confirmar compra</h1>
    <p>
        <div>Si deseas realizar la compra da click en confirmar</div>
        <div id="verificacion"></div>
    </p>
    <button id="close" class="modal-button">Confirmar</button>
    <button id="cerrar" class="modal-button">Cerrar</button>
  </div>
    <script type="module" src="http://127.0.0.1:8000/js/constantes.js"></script>
    <script type="module" src="http://127.0.0.1:8000/js/vistaproducto.js"></script>
    <script type="module" src="http://127.0.0.1:8000/js/dataUser.js"></script>
    <script
        src="https://kit.fontawesome.com/81581fb069.js"
        crossorigin="anonymous"
    ></script>
    <script type="module" src="http://127.0.0.1:8000/js/buscador.js"></script>
</body>
</html>
