* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: lightgray;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center; /* Alineación vertical */
    justify-content: space-between; /* Espaciado entre elementos */
    padding: 10px 20px;
    background-color: #589ceb; /* Fondo azul */
    color: white;
    height: 70px;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

header .search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

header .search-bar input[type="text"] {
    width: 70%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

header .search-bar button {
    padding: 8px 16px;
    background-color: #FDD835;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-buttons .user,
.header-buttons .cart {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
}

.header-buttons .user img,
.header-buttons .cart img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.header-buttons .cart span {
    margin-left: 5px;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
}

nav a:hover {
    background-color: red;
    border-radius: 5px;
}

form {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

form input[type="text"],
form input[type="number"],
form textarea,
form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

form button {
    padding: 10px 20px;
    background-color: #589ceb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

form button:hover {
    background-color: #407bbf;
}

footer {
    background-color: #333;
    height: 50px;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

