        body {
            height: 100%;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            display: flex;
            height: 50px;
            align-items: center; /* Alinea los elementos verticalmente */
            justify-content: space-between; /* Espacia el título y los botones */
            padding: 10px 20px;
            background-color: #ff00ff; /* Fondo morado */
            color: white;
        }
        .main{
            flex: 1;    
        }
        .container{
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* Asegura que ocupe toda la ventana */
        }
        .header-buttons {
            display: flex;
            align-items: center;
            margin-left: auto;
        }
        .header__centered{
            position: absolute; /* Posición absoluta para centrar en el medio */
            left: 50%; /* Mueve el elemento al centro horizontal */
            transform: translateX(-50%); /* Ajusta para centrar completamente */
            font-size: 24px;
            margin: 0; /* Elimina el margen del h1 */
        }
        .header-buttons div {
            margin-right: 20px;
            display: flex;
            align-items: center;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }
        .header-buttons div img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
        .search-bar {
            margin: 10px;
            display: flex;
            justify-content: center;
        }
        .search-bar input[type="text"] {
            width: 50%;
            padding: 8px;
            font-size: 16px;
        }
        .search-bar button {
            padding: 8px 16px;
            background-color: #FDD835;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }
        nav {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
        }
        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
        .category {
            padding: 20px;
            text-align: center;
        }
        .products {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 15px;
            padding: 20px;
        }
        .product-card {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            background-color: white;
        }
        .product-card img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }
        .product-name {
            font-weight: bold;
            margin-top: 10px;
        }
        .product-price {
            color: #57AB27;
            font-size: 18px;
            margin-top: 5px;
        }
        footer {
            background-color: #333;
            height: 50px;
            color: white;
            text-align: center;
            padding: 10px;
            margin-top: 20px;
        }